################################################################################
# .gitignore Microsoft(R) Visual Studio
################################################################################

/.vs
/Features/Martiscoin.Features.BlockStore/bin/Debug/net8.0
/Features/Martiscoin.Features.BlockStore/obj/Debug/net8.0
/Features/Martiscoin.Features.BlockStore/obj
/Features/Martiscoin.Features.ColdStaking/obj/Debug/net8.0
/Features/Martiscoin.Features.Consensus/bin/Debug/net8.0
/Features/Martiscoin.Features.Diagnostic/bin/Debug/net8.0
/Features/Martiscoin.Features.Diagnostic/obj/Debug/net8.0
/Features/Martiscoin.Features.Diagnostic/obj
/Features/Martiscoin.Features.Dns/bin/Debug/net8.0
/Features/Martiscoin.Features.Dns/obj
/Martiscoin.Node/bin/Debug
/Martiscoin.Node/obj
/Martiscoin.Networks.X1/bin/Debug/net8.0
/Martiscoin.Networks.X1/obj
/Features/Martiscoin.Features.ColdStaking/obj
/Features/Martiscoin.Features.MemoryPool
/Features/Martiscoin.Features.Miner
/Features/Martiscoin.Features.NodeHost
/Features/Martiscoin.Features.Notifications
/Features/Martiscoin.Features.PoA
/Features/Martiscoin.Features.RPC
/Features/Martiscoin.Features.Wallet
/Features/Martiscoin.Features.WalletWatchOnly
/Features/Persistence/Martiscoin.Features.Base.Persistence.LevelDb
/Features/Persistence/Martiscoin.Features.Base.Persistence.RocksDb
/Features/Persistence/Martiscoin.Features.BlockStore.Persistence.LevelDb
/Features/Persistence/Martiscoin.Features.BlockStore.Persistence.RocksDb
/Features/Persistence/Martiscoin.Features.Consensus.Persistence.LevelDb
/Features/Persistence/Martiscoin.Features.Consensus.Persistence.RocksDb
/Features/Persistence/Martiscoin.Features.Persistence.LevelDb.CorePackage
/Features/Persistence/Martiscoin.Features.Persistence.Rocksdb.CorePackage
/Features/Persistence/Martiscoin.Persistence.LevelDb
/Features/Persistence/Martiscoin.Persistence.RocksDb
/Features/Martiscoin.Features.Consensus/obj/Debug/net8.0
/Features/Martiscoin.Features.ColdStaking/bin/Debug/net8.0
/Features/Martiscoin.Features.Consensus/obj
