################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Features/Martiscoin.Features.Consensus/bin/Debug/net8.0
/Features/Martiscoin.Features.Diagnostic/bin/Debug/net8.0
/Features/Martiscoin.Features.BlockStore/bin/Debug/net8.0
/Features/Martiscoin.Features.BlockStore/obj
/Features/Martiscoin.Features.Diagnostic/obj
/Features/Martiscoin.Features.Dns/bin/Debug/net8.0
/Features/Martiscoin.Features.Dns/obj
/Features/Martiscoin.Features.MemoryPool/bin/Debug/net8.0
/Features/Martiscoin.Features.MemoryPool/obj
/Features/Martiscoin.Features.Miner/bin/Debug/net8.0
/Features/Martiscoin.Features.Miner/obj
/Features/Martiscoin.Features.NodeHost/bin/Debug/net8.0
/Features/Martiscoin.Features.NodeHost/obj
/Features/Martiscoin.Features.Notifications/bin/Debug/net8.0
/Features/Martiscoin.Features.Notifications/obj
/Features/Martiscoin.Features.PoA/bin/Debug/net8.0
/Features/Martiscoin.Features.PoA/obj
/Features/Martiscoin.Features.RPC/bin/Debug/net8.0
/Features/Martiscoin.Features.RPC/obj
/Features/Martiscoin.Features.Wallet/bin/Debug/net8.0
/Features/Martiscoin.Features.Wallet/obj
/Features/Martiscoin.Features.WalletWatchOnly/bin/Debug/net8.0
/Features/Martiscoin.Features.WalletWatchOnly/obj
/Features/Persistence/Martiscoin.Features.Base.Persistence.LevelDb/bin/Debug/net8.0
/Features/Persistence/Martiscoin.Features.Base.Persistence.LevelDb/obj
/Features/Persistence/Martiscoin.Features.Base.Persistence.RocksDb/bin/Debug/net8.0
/Features/Persistence/Martiscoin.Features.Base.Persistence.RocksDb/obj
/Features/Persistence/Martiscoin.Features.BlockStore.Persistence.LevelDb/bin/Debug/net8.0
/Features/Persistence/Martiscoin.Features.BlockStore.Persistence.LevelDb/obj
/Features/Persistence/Martiscoin.Features.BlockStore.Persistence.RocksDb/bin/Debug/net8.0
/Features/Persistence/Martiscoin.Features.BlockStore.Persistence.RocksDb/obj
/Features/Persistence/Martiscoin.Features.Consensus.Persistence.LevelDb/bin/Debug/net8.0
/Features/Persistence/Martiscoin.Features.Consensus.Persistence.LevelDb/obj
/Features/Persistence/Martiscoin.Features.Consensus.Persistence.RocksDb/bin/Debug/net8.0
/Features/Persistence/Martiscoin.Features.Consensus.Persistence.RocksDb/obj
/Features/Persistence/Martiscoin.Features.Persistence.LevelDb.CorePackage/bin/Debug/net8.0
/Features/Persistence/Martiscoin.Features.Persistence.LevelDb.CorePackage/obj
/Features/Persistence/Martiscoin.Features.Persistence.Rocksdb.CorePackage/bin/Debug/net8.0
/Features/Persistence/Martiscoin.Features.Persistence.Rocksdb.CorePackage/obj
/Features/Persistence/Martiscoin.Persistence.LevelDb/bin/Debug/net8.0
/Features/Persistence/Martiscoin.Persistence.LevelDb/obj
/Features/Persistence/Martiscoin.Persistence.RocksDb/bin/Debug/net8.0
/Features/Persistence/Martiscoin.Persistence.RocksDb/obj
/Martiscoin.Networks.X1/bin/Debug/net8.0
/Martiscoin.Networks.X1/obj
/Martiscoin.Node/bin/Debug
/Martiscoin.Node/obj
